.card__button:hover {
  opacity: 0.4;
  cursor: pointer;
}

.card__button {
  margin-right: 30px;
  background: url("/public/images/food_add.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 19px;
  border: 2px solid #fff;
  transition: 1.5s;
}

.card__button:active {
  background-color: #d58c51;
  background-image: url("/public/images/food_add.svg");
  opacity: 1;
  transition: 0s;
}
